/* Owl Carousel */
#owl-demo .owl-item div{
  padding:5px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}




#colored-button .btn { color: #fff; }


/* Main CSS File */

.navbar {
  text-align: right;
  color: white;
  font-size: 15px;
  height: 76px;
  position: relative;
  font-family: 'Open Sans',sans-serif;

}
    .navbar li {
      display: inline;
      padding: 30px;
    }
    .navbar a {
      display: inline-block;
      text-decoration: none;
      color: white;
    }
    .navbar ul {
      padding-top: 20px;
      padding-right: 80px;
    }

.table-info {
  width: 150px;
  margin: 10px auto;
  border: solid black;
  text-align: center;
}
.footer{
  text-align: center;
  border: solid black;
}
.center-content {
  padding-top: 5%;
  text-align: center;
  position: relative;
}




/* Video Header CSS Below */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/* Header Tags */

.heading {
  color:#6A1B9A;
  text-align: center;
  font-size: 65px;
  font-family: 'lato';
  font-weight: bold;

}
 .container-text {
  font-family:'Open Sans', sans-serif;
  font-size:20px;
  padding-bottom:200px;
}
  @media (min-width: 414px; max-width: 600px;){
    .container-text{
      font-size: 10px;
    }
  }

  .subtext {
    font-family: 'Open Sans';
    font-size:35px;
  }


/*Image tag changes */
