/* Main CSS File */


.navbar {
  text-align: center;
  border: solid black;
  font-family: lato;


}
  .navbar li {
    display: inline;
    padding: 20px;
  }
  .navbar a {
    display: inline-block;
  }

.slideshow {
  text-align: center;
  border: solid black;
}
.table-info {
  width: 150px;
  margin: 10px auto;
  border: solid black;
  font-family: source sans pro;
  text-align: center;
}
.footer{
  text-align: center;
  border: solid black;
  font-family: source sans pro;
}
